extends base.pug
include mixins/navBar 

block navBar
    +navBar

block content
    h4 Update Video
    form(method="POST")
        input(name="title", placeholder="New Video Title", value=video.title, required, minlength=5, maxlength=80)
        input(name="description", placeholder="Description", required, value=video.description, type="text", minlength=5, maxlength=140)
        input(name="hashtags", placeholder="Hashtags, separated by comma.", required, type="text", value=video.hashtags.join())
        input(value="Save", type="submit")
